html, body {
    font-family: 'Nanum Barun Gothic', sans-serif;
    margin: 0 auto;
}

.top-hr {
    height: 1px;
    width: 150px;
    border: 5px solid black;
    margin-top: 50px;
}

h1 {
    font-size: 80px;
    font-weight: lighter;
    line-height: 100px;
}

.content {
  width: 80%;
  position: relative;
  left: 0; right: 0;
  margin: 0 auto;
}

#map {
  width: 750px;
  height: 500px;
}

@media (max-width: 1200px) {
  .map {
    display: none;
  }

  .top-hr {
      width: 100px;
  }

  h1 {
      font-size: 40px;
      font-weight: lighter;
      line-height: 50px;
  }
}

.map.affix {
  position: fixed;
  width: 750px;
  height: 500px;
  top: 0;
  margin-top: 10px;
  float: right;
}

.state-group {
  margin-bottom: 30px;
}

.button-container {
  font-size: 20px;
  padding: 15px 20px;
  border: 1px solid grey;
}

.button-container:hover {
  cursor: pointer;
}

@-webkit-keyframes hvr-pop {
  50% {
    -webkit-transform: scale(1.05);
    transform: scale(1.05);
  }
}
@keyframes hvr-pop {
  50% {
    -webkit-transform: scale(1.05);
    transform: scale(1.05);
  }
}

.library {
  padding: 20px;
  border: 1px solid grey;
  border-top: 0;
  cursor: pointer;
  vertical-align: middle;
  -webkit-transform: perspective(1px) translateZ(0);
  transform: perspective(1px) translateZ(0);
  box-shadow: 0 0 1px transparent;
}

.library:hover, .library:focus, .library:active {
  border-top: 1px solid grey;
  box-shadow: 1px 1px 15px #888888;
  -webkit-animation-name: hvr-pop;
  animation-name: hvr-pop;
  -webkit-animation-duration: 0.3s;
  animation-duration: 0.3s;
  -webkit-animation-timing-function: linear;
  animation-timing-function: linear;
  -webkit-animation-iteration-count: 1;
  animation-iteration-count: 1;
}

.library-list:last-child {
  border-bottom: 0;
}

.library-name {
  font-size: 20px;
}
