@-moz-keyframes spin { 100% { -moz-transform: rotate(360deg); } }
@-webkit-keyframes spin { 100% { -webkit-transform: rotate(360deg); } }
@keyframes spin { 100% { -webkit-transform: rotate(360deg); transform:rotate(360deg); } }

html, body {
    font-family: 'Nanum Barun Gothic', sans-serif;
    margin: 0 auto;
}

#loader {
    width: 100%;
    height: 100%;
    position: fixed;
    display: none;
    opacity: 0.7;
    z-index: 50;
    background-blend-mode: multiply;
    background: #000;
}
/*
.loader-icon {
    color: white;
    font-size: 200px;
    width: 200px;
    height: 200px;
    position: absolute;
    left: 50%;
    top: 50% !important;
    margin-left: -100px !important;
    margin-top: -100px;
    z-index: 100;
}*/

.loader {
  width: 0px;
  height: 0px;
  margin: 50vh auto;
  /*position: relative;*/
  position: absolute;
  left: 50%;
  top: -100px;
}

.loader > div {
  width: 6px;
  height: 20px;
  position: absolute;
  left: -10px;
  bottom: 15px;
  border-radius: 5px;
  -webkit-transform-origin: 10px 35px;
  -moz-transform-origin: 10px 35px;
  -ms-transform-origin: 10px 35px;
  -o-transform-origin: 10px 35px;
  transform-origin: 10px 35px;

  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  -ms-transform: rotate(0deg);
  -o-transform: rotate(0deg);
  transform: rotate(0deg);

  -webkit-animation: loader 0.8s infinite;
  -moz-animation: loader 0.8s infinite;
  animation: loader 0.8s infinite;
}
.loader > div:nth-child(2) {
  -webkit-transform: rotate(45deg);
  -moz-transform: rotate(45deg);
  -ms-transform: rotate(45deg);
  -o-transform: rotate(45deg);
  transform: rotate(45deg);

  -webkit-animation-delay: 0.1s;
  -moz-animation-delay: 0.1s;
  animation-delay: 0.1s;
}
.loader > div:nth-child(3) {
  -webkit-transform: rotate(90deg);
  -moz-transform: rotate(90deg);
  -ms-transform: rotate(90deg);
  -o-transform: rotate(90deg);
  transform: rotate(90deg);

  -webkit-animation-delay: 0.2s;
  -moz-animation-delay: 0.2s;
  animation-delay: 0.2s;
}
.loader > div:nth-child(4) {
  -webkit-transform: rotate(135deg);
  -moz-transform: rotate(135deg);
  -ms-transform: rotate(135deg);
  -o-transform: rotate(135deg);
  transform: rotate(135deg);

  -webkit-animation-delay: 0.3s;
  -moz-animation-delay: 0.3s;
  animation-delay: 0.3s;
}
.loader > div:nth-child(5) {
  -webkit-transform: rotate(180deg);
  -moz-transform: rotate(180deg);
  -ms-transform: rotate(180deg);
  -o-transform: rotate(180deg);
  transform: rotate(180deg);

  -webkit-animation-delay: 0.4s;
  -moz-animation-delay: 0.4s;
  animation-delay: 0.4s;
}
.loader > div:nth-child(6) {
  -webkit-transform: rotate(225deg);
  -moz-transform: rotate(225deg);
  -ms-transform: rotate(225deg);
  -o-transform: rotate(225deg);
  transform: rotate(225deg);

  -webkit-animation-delay: 0.5s;
  -moz-animation-delay: 0.5s;
  animation-delay: 0.5s;
}
.loader > div:nth-child(7) {
  -webkit-transform: rotate(270deg);
  -moz-transform: rotate(270deg);
  -ms-transform: rotate(270deg);
  -o-transform: rotate(270deg);
  transform: rotate(270deg);

  -webkit-animation-delay: 0.6s;
  -moz-animation-delay: 0.6s;
  animation-delay: 0.6s;
}
.loader > div:nth-child(8) {
  -webkit-transform: rotate(315deg);
  -moz-transform: rotate(315deg);
  -ms-transform: rotate(315deg);
  -o-transform: rotate(315deg);
  transform: rotate(315deg);

  -webkit-animation-delay: 0.7s;
  -moz-animation-delay: 0.7s;
  animation-delay: 0.7s;
}

/* Chrome, Safari, Opera */
@-webkit-keyframes loader {
    0% {
    background: transparent;
    left: -10px;
    -webkit-transform-origin: 10px 35px;
    -moz-transform-origin: 10px 35px;
    transform-origin: 10px 35px;
  }
  30% {
    background: white;
  }
  100% {
    background: transparent;
    left: 10px;
    -webkit-transform-origin: -10px 35px;
    -moz-transform-origin: -10px 35px;
    transform-origin: -10px 35px;
  }
}

@keyframes loader {
  0% {
    background: transparent;
    left: -10px;
    -webkit-transform-origin: 10px 35px;
    -moz-transform-origin: 10px 35px;
    transform-origin: 10px 35px;
  }
  30% {
    background: white;
  }
  100% {
    background: transparent;
    left: 10px;
    -webkit-transform-origin: -10px 35px;
    -moz-transform-origin: -10px 35px;
    transform-origin: -10px 35px;
  }
}

.top-hr {
    height: 1px;
    width: 150px;
    border: 5px solid black;
    margin-top: 50px;
}

h1 {
    font-size: 80px;
    font-weight: lighter;
    line-height: 100px;
}

h3 {
    font-weight: lighter;
}

#library-search {
    margin-bottom: 20px;
}

.collapse-title {
    font-weight: lighter;
}

#collapse-name {
    font-weight: normal;
}

.time-container {
    margin-top: 50px;
}

.time-span {
    float: right;
    font-size: 30px;
    font-weight: lighter;
}

#time-14-title, #time-15-title {
    font-weight: lighter;
    font-size: 30px;
}

#time-14-name, #time-15-name, #time-14-email, #time-15-email, #time-14-phone, #time-15-phone{
    font-size: 20px;
}

#time-14-detail, #time-15-detail {
    margin-top: 10px;
}

#time-14-hide, #time-15-hide {
    font-size: 15px;
    padding: 5px;
    border: 1px dashed #777777;
    border-radius: 5px;
    color: #777777;
}

.mc-area {
    display: inline-block;
    width: 250px;
    text-align: center;
    font-size: 20px;
    padding: 5px;
    border: 1px dashed #777777;
    border-radius: 5px;
    color: #777777;
}

.detail-slash {
    font-size: 20px;
    color: #ABABAB;
}

.time-detail {
    border-left: 2px solid black;
}

.library_link_list {
    text-align: center;
}

.loading-icon {
    position: relative;
    top: 3px;
    margin-left: 5px;
    -webkit-animation: spin 2s linear infinite;
    -moz-animation: spin 2s linear infinite;
    animation: spin 2s linear infinite;
}

.library_link {
    float: left;
    width: 275px;
    color: #444444;
    margin-right: 10px;
    font-size: 15px;
    padding: 10px;
    border: 1px solid black;
    margin-bottom: 10px;
}

.library_link:hover {
    cursor: pointer;
    color: #777777;
    text-decoration: none;
    border: 1px solid #777777;
}

.mc-container {
    margin-top: 20px;
}

.mc-title {
    margin-top: 50px;
    margin-bottom: 20px;
}

#mc-1-name, #mc-1-email, #mc-1-phone, #mc-2-name, #mc-2-email, #mc-2-phone{
    font-size: 20px;
}

#information-reveal {
    position: relative;
    float: right;
    width: 200px;
    height: 40px;
}

.need-hide {
    display: auto;
}

@media (max-width: 1199px) {
    .top-hr {
        width: 100px;
    }

    h1 {
        font-size: 40px;
        font-weight: lighter;
        line-height: 50px;
    }

    .library_link {
        width: 100%;
        margin: 0 auto;
        margin-bottom: 15px;
    }

    .library_select_guide {
        font-size: 20px;
    }

    .time-span {
        float: left;
        font-size: 20px;
        font-weight: lighter;
        border-bottom: 2px solid black;
    }

    .time-detail {
        border-left: 0;
        margin-top: 20px;
    }

    #time-14-title, #time-15-title {
        font-size: 20px;
    }

    .detail-slash {
        font-size: 15px;
        color: #ABABAB;
    }

    #time-14-name, #time-15-name, #time-14-email, #time-15-email, #time-14-phone, #time-15-phone {
        font-size: 15px;
    }

    #mc-1-name, #mc-1-email, #mc-1-phone, #mc-2-name, #mc-2-email, #mc-2-phone{
        font-size: 15px;
    }

    #information-reveal {
        width: 100%;
        margin-bottom: 20px;
    }

    .need-hide {
        display: inline-block;
    }
}
